<section class="todoapp">
	<header class="header">
		<h1>Todos</h1>
		<!-- NOTE todo_description Local variable so we can have a placeholder in the main input -->

	</header>

  <section class="main">
		<input class="new-todo" placeholder="What needs to be done?" (keyup.enter)="addTodo(todo_description.value)" #todo_description>
    <button class="btn" (click)="get_todos()">Get Todos</button>
    <ul class="todo-list">
		<li *ngFor="let todo of todos">
			<input [ngModel]="todo.description" (ngModelChange)="todo.description = $event" (keyup.enter)="update_todo(todo)">
			<label for='completed'>
				Complete
				<input type="checkbox" [(ngModel)]="todo.completed" (ngModelChange)="todo.completed = $event" (change)="update_todo(todo)">
			</label>

		<!-- <button class="btn" (click)="update_todo(todo)">Archive</button> -->
		<button class="btn" (click)="delete_todo(todo)">Delete</button>
		</li>
		</ul>
	</section>
</section>
